html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-areas: 
    "aside main ";
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    margin: 0 auto;
    height: 100%;
    padding-left: 1%;
    justify-content: center;
}

header {
    text-align: center;
}

main {
    grid-area: main;
    width:100%;
}

aside {
    grid-area: aside;
    width:100%;
    padding: 5px;
    height: 100%;
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    color: #e1ffff;
}
aside input {
    color: #23282e;
}

.brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }

  ul{
      list-style-type: none;
      padding-left: 0px;
  }

  li{
      padding: 5px;
  }
